body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat";
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.6%;
    border-radius: 10%;
    transition: background 0.5s;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

#message {
    display: inline-block;
    width: 20%;
}

h1 {
    color: white;
    font-weight: normal;
    line-height: 1.1;
    text-align: center;
    background: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 200%;
}

#stripe {
    background-color: white;
    text-align: center;
    height: 30;
    color: black;
}

.selected {
    color: white;
    background: steelblue;
}

button {
    background: none;
    border:none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.2s;
}

button:hover {
    color: white;
    background: steelblue;
}